<h1> MemTank Blog-y-blag </h1>
<p><small> A blog about a product that no one uses </small></p>
<h3> Blog 1 - What is MemTank and why should you use it? </h3>

<p> A while ago, when I was even more obsessed with Productivity&trade; than I am now - so believe me, very - I read Getting Things Done by David Allen. David Allen seems like a sound man with his head screwed on to exactly the right tightness, but his system was too complex for me. My feeling, which I still have today, is that if you can fill a novel-sized book with your system for being productive, you probably have a procrastination issue to deal with first. </p>

<p> But something about David Allen's system really resonated with me: the idea of closing loops. A 'loop' in this context is something that nags at your brain and takes cognitive effort. Need to pick up milk? That's a loop. Someone declares you just have to check out "Better Call Saul"? Another loop. </p>

<p> These open loops are just brain-baggage. David Allen advocates spilling everything you need to do on a piece of paper, and making a huge task-list of loops. This is called 'closing the loop', because, in theory, your brain no longer needs to keep track of these things, reducing the brain baggage. I still do this from time to time, normally on the first day of the month. But it doesn't really work for me. </p>

<p> For one thing, not everything that loops up my brain is a task. Sometimes it's a quote that really resonates with me. Sometimes it's more a resolution - to drink less or exercise more. Often it's simply an idea ("What about a car... that can fly!"). This stuff clogs up my brain pretty much all the time. </p>

<p> The other reason that brain dumping like this never worked for me is simply quantity: there was no chance I was going to get everything down in one sitting. There was just too much, and a sheet of paper offers too little organisational potential. I needed a loop-closer accessible to me 24/7. </p>

<p> MemTank is a stack. It's a stack of your thoughts, ideas and reminders. It's a stack that's organised by date and priority, but you don't need to worry about that. It is a collection bucket for loops. Once something is in MemTank, you never need to worry about it again... MemTank will gently remind you of it, either when the time comes, or when its turn in priority order comes up. </p>

<p> So give it a try. I'll be using this blog to tell you a bit about how I use MemTank, which I do, everyday. Hopefully soon there will be a feedback button for you to let me know what you think and any way you think the experience could be improved: this is still very much in its infancy. I hope it can grow into something people can rely on. </p>
