<div class="image">
  <img src="/images/icon.png" class="centre">
</div>
<div class="centre">
  <h1> MemTank Blog-y-blag </h1>
  <span><small> A blog about a product that no one uses </small></span>
  <br />
  <a href="#blog1">What is MemTank?</a> || <a href="#blog2">What's a Mem?</a> || <a href="#blog3">Getting Started</a>
  <h3 id="blog3"> Blog 3 - Getting Started with MemTank </h3>

  <p> So you've signed up, you've read the pre-imported mems, and you kinda get what MemTank is because you voraciously read the blogs below. But, still, something nags at you... What am I supposed to do now, you think? </p>

  <p> Because this is a problem that MemTank has. I use MemTank myself now, a lot. And because I've used it for a while, it's filled with useful information, fun and motivational quotes, recipes I made up and didn't want to forget, the amazing Chinese restaurant I went to, many album recommendations from hip friends, and also bugs and ideas for MemTank itself. But recently I had to do a database migration, one of the bad one's that leaves no mem undeleted. And it <b>hurt</b>. It really did. I had to start again. </p>
  
  <p> On the one hand, I took this as a really good sign. I did not want to lose this information. I was adding to it everyday, usually way more than once. It had become a habit and something that in a small way I relied on. Great, I thought. It has proved its usefulness, at least to me. </p>

  <p> But then I had to start again, from scratch, and I learnt that starting is really hard. Even for me, someone who knows how MemTank works and where its strengths lie, it was still a slow and steady process to get it back to where I woke up in the morning and immediately wanted to see what MemTank wanted to let me know about today. So this blog post is for someone who doesn't know what I know, and hopefully, I'll persuade you to get over that first hump: </p>

  <ul>
    <li> <b>Enter, enter, enter.</b> Just put stuff in. It doesn't matter. Anything. Hear a joke that made you laugh? Put it in. A song on the radio? Put it in. Need to buy a gift for your friend's birthday? Put it in. By adding stuff that maybe you don't need in MemTank, you begin to get an idea of what you <b>could</b> need it for. You get a feeling for why you mark one thing Low priority and another High (a blog post on this will be coming). </li>
    <li> <b>Think of some habits you would like to build, and add reminders for those.</b> I have a Mem that asks me why I haven't done more writing, one that reminds me how much I enjoy running (after I've done it obviously - at the time it's terrible) and one that simply tells me how much happier I am when the kitchen is clean. These things sink into your subconcious when you see them every couple of days. They really do. </li>
    <li> <b>Don't be scared of the long Mem.</b> Mems come in all shapes and sizes, but one thing I've learnt is that the more context the better. I don't just say "Go Running". It is much more effective to try and tap into some emotions about the subject. I don't just say "Check out Paul Simon's new album". I write a little bit about who recommended it, what they said was good about it, which songs they said were particularly good. Not only is this more fun, as it turns MemTank into somewhat of a journalling exercise as well, but also, the next time you see that person, you can have a real connection over there recommendation. They will be surprised you rememebered what they said so clearly. </li>
  </ul>

  <p> There will be many more hints and tips coming out on this blog. Stay tuned! </p>

  <h3 id="blog2"> Blog 2 - Anatomy of a Mem </h3>
  
  <p> So what makes up a mem? I guess the best way to explain it is to show you. </p>

  <p> I'm on a night out. I'm out with my mate Jason, who's obviously a total ledge, absolutely top, and whenever he gives me a recommendation for a band, I know it's going to be righteous. Problem is, I have this issue with remembering things and alcohol. No problem. I'll write a mem. </p>

  <p> So I pull out my phone and enter in a mem, giving it a priority of Low because really, it doesn't matter too much when it reminds me of it, so long as it does. If it was something I was anxious to hear about again soon, I could have given it a higher priority, or even a specific time period, like 'Tomorrow', if I was in that much of a rush.</p>

  <p> A few days later, I've got myself a free moment, so I check my mems, and BAM! There it is. Jason's cool recommendation of that band. </p>

  <img src="images/mem_example.png">
  
  <p></p>

  <p> Along the top, you can see I've tagged it as 'music'. This, truth be told, doesn't do all that much as of right now, but just you wait. Big plans. </p>

  <p> Then, top-right, you can see the priority - Low. That means that the mem won't come up all that often, and if you want to stop it coming up again at all, you can press the "Delete Mem" button. </p>

  <p> Finally, below, there are the three ways of dealing with the mem. You can say "Seen it", which will put it back in the stack, ready to be seen another day. Or, you can say show me again soon, which will put it back on the top of the stack, ready to come out again. Let's say I was on the bus, but wanted to check out that band when I got home. I might use "Show me again soon". And then there's "Delete Mem" which, as mentioned above, will remove the mem from the stack.</p>

  <p> I hope that has given you some idea of what you might use MemTank for yourself. </p>

  <h3 id="blog1"> Blog 1 - What is MemTank and why should you use it? </h3>

  <p> A while ago, when I was even more obsessed with Productivity&trade; than I am now - so believe me, very - I read Getting Things Done by David Allen. David Allen seems like a sound man with his head screwed on to exactly the right tightness, but his system was too complex for me. My feeling, which I still have today, is that if you can fill a novel-sized book with your system for being productive, you probably have a procrastination issue to deal with first. </p>

  <p> But one thing about David Allen's system really resonated with me: the idea of closing loops. A 'loop' in this context is something that nags at your brain and takes cognitive effort. Need to pick up milk? That's a loop. Someone declares you just have to check out "Better Call Saul"? Another loop. </p>

  <p> These open loops are just brain-baggage. David Allen advocates spilling everything you need to do on a piece of paper, and making a huge task-list of loops. This is called 'closing the loop', because, in theory, your brain no longer needs to keep track of these things, reducing the brain baggage. I still do this from time to time, normally on the first day of the month. But it doesn't really work for me. </p>

  <p> For one thing, not everything that loops up my brain is a task. Sometimes it's a quote that really resonates with me. Sometimes it's more a resolution - to drink less or exercise more. Often it's simply an idea ("What about a car... that can fly!"). This stuff clogs up my brain pretty much all the time. </p>

  <p> The other reason that brain dumping like this never worked for me is simply quantity: there was no chance I was going to get everything down in one sitting. There was just too much, and a sheet of paper offers too little organisational potential. I needed a loop-closer accessible to me 24/7. </p>

  <p> MemTank is a stack. It's a stack of your thoughts, ideas and reminders. It's a stack that's organised by date and priority, but you don't need to worry about that. It is a collection bucket for loops. Once something is in MemTank, you never need to worry about it again... MemTank will gently remind you of it, either when the time comes, or when its turn in priority order comes up. </p>

  <p> So give it a try. I'll be using this blog to tell you a bit about how I use MemTank, which I do, everyday. Hopefully soon there will be a feedback button for you to let me know what you think and any way you think the experience could be improved: this is still very much in its infancy. I hope it can grow into something people can rely on. </p>
</div>
