.container {
  max-width: 800px
}

.centre {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 300px) {
  .date-label {
    margin: 2px 7px;
  }
}

.list-group {
  margin: 10px 0px;
}

.panel-body {
  padding: 7px;
}

.glyphicon-trash {
  color: red
}

p {
  text-align: left;
}

ul {
  text-align: left;
}

li {
  margin-bottom: 5px;
}

.brand {
  height: 50px;
  width: 50px;
}

.icon {
  padding-top: 0px;
  padding-left: 30px;
}

.btn {
  margin-right: 3px;
  margin-bottom: 10px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-right: 0px;
}

.jumbotron p {
  margin-bottom: 0px;
  margin-top: 10px;
}

.no-top {
  margin-top: 0px !important;
}

.inline {
  display: inline-block;
}

.text-muted {
  font-size: 12px !important;
  margin-bottom: 10px !important;
  margin-top: 0px !important;
}

#textarea {
  height: 12em;
}
