<p> Hello, would you like to leave some feedback? That would just be swell. If you type it into the text box below and click the button, it will be added into my membox! Don't forget to leave your name, if you want. </p>

<form id='note' class="form-horizontal" method="POST" action="/feedback" >
  <div class="form-group">
    <div class="col-md-12">
      <textarea class="form-control" id="textarea" name="body" placeholder="Enter some feedback, an idea, a feature request, or just praise!" required></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button type='submit' name="feedback" class="btn btn-success">Leave Feedback!</button>
    </div>
  </div>
  </div>
</form>
