<% if flash[:notice] %>
  <div class="alert alert-success alert-fixed" id="success" role="alert" style="display:none"><%= flash[:notice] %></div>
<% end %>

<%= render 'layouts/notesMems' %>

<% if @dates.any? %>
  <%= render '/layouts/notesDates' %> 
<% end %>

<script>
var i = 0
$(document).on('ready page:load', function() {
  i = 0;
  noteArray = <%= @notes.map { |note| note.id } %>;
  $("#success").fadeIn("slow").delay(2000).fadeOut();
});

function advanceItem() {
  $('#note' + i).hide("slow");
  $('#note' + (i+1)).show("slow");
  i++;
  if ($('.final').is(':visible')){
    $.get('/user_info/seen_it');
    $("#controls").hide();
  }
}

function pushBack(element, id) {
  $(element).closest(".list-group-item").hide('slow', function(){ $(element).closest(".list-group-item").remove(); });
  $.get('/notes/' + id + '/push_back');
  setTimeout(function(){check()}, 700);
}

function pushBackMore(element, id) {
  $(element).closest(".list-group-item").hide('slow', function(){ $(element).closest(".list-group-item").remove(); });
  $.get('/notes/' + id + '/push_back_more');
  setTimeout(function(){check()}, 700);
}

function deleteDate(element, id) {
  $(element).closest(".list-group-item").hide('slow', function(){ $(element).closest(".list-group-item").remove(); });
  $.get('/notes/' + id + '/delete_mem');
  setTimeout(function(){check()}, 700);
}

function check() {
  if ($('#datesList1').children().length === 0 && $('#datesList2').children().length === 0 && $('#datesList3').children().length === 0) {
    $('#alertspanel').hide("slow");
  }
}

function seenIt(element, id) {
  advanceItem();
  $.get('/notes/' + noteArray[id] + '/seen');
} 

function deleteNote(element, id) {
  advanceItem();
  $.get('/notes/' + noteArray[id] + '/delete_mem');
}
</script>
